.cart {
  font-size: 30px;
  color: yellow
}

.btn {
  background-color: green;
  padding: 10px 15px;
  margin: 2px;
  color: black;
  border: none;
  border-radius: 5px;
 cursor: pointer
}

.itemcontainer{
    background-color: aqua
    
}